<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <title><%=title%></title>
    <link href="../stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
abcde
</body>
</html>
